*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}


body{

min-height:100vh;
background:#111;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

color:white;

gap:15px;

}



h1{
font-size:40px;
}



.score{
font-size:22px;
}



.game{

width:400px;
height:400px;

position:relative;

border:4px solid #3cff00;

background:#181818;

box-shadow:
0 0 20px #3cff00;

overflow:hidden;

border-radius:15px;

}



.cell{

position:absolute;

width:20px;
height:20px;

}



.snake{

background:#55ff00;

border-radius:50%;

box-shadow:
inset 0 0 5px #1b6600;

z-index:2;

}



.head{

background:#7dff35;

border-radius:

60% 60% 45% 45%;

transform-origin:center;

z-index:5;

}



.eye{

position:absolute;

width:5px;
height:5px;

background:black;

border-radius:50%;

}



.tongue{

position:absolute;

height:18px;

width:3px;

background:#ff4d6d;

z-index:8;

}



.tongue:before,
.tongue:after{

content:"";

position:absolute;

height:8px;

width:3px;

background:#ff4d6d;

bottom:0;

}



.tongue:before{
transform:rotate(-35deg);
}



.tongue:after{
transform:rotate(35deg);
}



.food{

background:#ff3030;

border-radius:50%;

box-shadow:
0 0 10px red;

}



.game-over{

font-size:24px;

color:#ff5555;

display:none;

}



.controls{

display:grid;

grid-template-columns:60px 60px 60px;

gap:10px;

}



.controls button{

height:60px;

font-size:25px;

background:#333;

color:white;

border:none;

border-radius:15px;

cursor:pointer;

}



.controls button:hover{

background:#555;

}



@media(max-width:500px){

.game{

width:320px;
height:320px;

}

}